.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35rem;
    margin: 1em 4em;
}

label {
    padding-bottom: 20px;
    color: #fff;
}

input, select {
    border-radius: 10px;
    padding: 5px 10px;
}